{{ partial "head.html" .}}
{{ $baseurl := .Site.BaseURL }}
<section>
	<h1 class="title">{{ .Title }}</h1>
	<div class="post-meta"><i class="fa fa-calendar"></i>&nbsp;{{ .Date.Format "02/01/2006" }} - <i class="fa fa-clock-o"></i>&nbsp;{{ .ReadingTime}} min.
<i class="fa fa-tags"></i>&nbsp;
	{{ range .Params.tags }}
		<span class="secondary radius label"> <a href="{{ $baseurl }}/tags/{{ . | urlize }}">#{{ . }}</a> </span>
	{{ end }}
    </div>
    <div id="toc" class="panel clearfix">
    	<h4> Sommaire </h4>
		{{ .TableOfContents }}
	</div>
   <article class="cours">
		{{ .Content }}
	</article>
</section>
<div class="panel clearfix">
{{ $mymonths := index $.Site.Data.mois }}
<time class="post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
   Article publié le {{ .Date.Day }} {{ index $mymonths (printf "%d" .Date.Month) }} {{ .Date.Year }} (dernière modification le {{ .Lastmod.Day }} {{ index $mymonths (printf "%d" .Lastmod.Month) }} {{ .Lastmod.Year }})
 </time>
</div>

<div class="clearfix"></div>
<div class="panel clearfix">
	<h4>A propos de l'auteur :</h4>
<p>
	Professeur de S.V.T à la citée scolaire de Toucy. </p>
<p>	Passionné d'informatique, cofondateur de l'Association Francophone des Utilisateurs de Joomla! (AFUJ).</p>
</div>
<div class="panel clearfix">
<h4>Articles similaires </h4>
<ul>
{{ $page_link := .Permalink }}
{{ $oggetti := .Params.tags }}
{{ range .Site.Pages }}
   {{ $page := . }}
   {{ $has_common_tags := intersect $oggetti .Params.tags | len | lt 0 }}
   {{ if and $has_common_tags (ne $page_link $page.Permalink) }}
       <li><a href="{{ $page.Permalink }}">{{ $page.Title }}</a></li>
   {{ end }}
{{ end }}
</ul>
</div>

{{ partial "disqus.html" . }}

<div class="clearfix"></div>

{{ partial "footer.html" .}}