<!-- Integrate listing of related topics and tags
<div>
  <ul id="categories">
      {{ range .Params.topics }}
      <li><a href="/topics/{{ . | urlize }}">{{ . }}</a> </li>
      {{ end }}
  </ul>
  <ul id="tags">
      {{ range .Params.tags }}
      <li> <a href="/tags/{{ . | urlize }}">{{ . }}</a> </li>
      {{ end }}
  </ul>
</div>
-->
<div class="panel clearfix">
Partagez : 
    <a title="Envoyer cet article par mail" href="mailto:?subject={{.Title | safeHTML }}&amp;body={{.Title | markdownify }} - {{ .Permalink }}"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa-envelope-o fa-stack-1x fa-inverse"></i></span>&nbsp; E-mail</a> - <a title="Partager cet article sur Twitter" href="https://twitter.com/share?text={{ .Title | safeHTML }}&amp;url={{ .Permalink }}"> <span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span>&nbsp; Twitter</a> -  <a title="Partager cet article sur Facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span>&nbsp; Facebook</a>
</div>

{{ if .Params.author }}
{{ else }}
<div class="panel clearfix">
  {{ partial "author.html" .}}
  </div>
{{ end }}



<div class="panel clearfix">
<h4>À lire également</h4>
<div>
{{if .Prev}}
  {{if .Next}}
  <article class="post medium-6 small-12 columns article_precedent">
  {{else}}
  <article class="post small-12 columns article_precedent">
  {{end}}
    {{if .Prev.Params.cover}}
      <a href='{{ .Prev.Permalink }}'><img src="{{ .Prev.Params.cover }}" class="img_suite"/></a>
    {{end}}
    {{if .Prev.Params.cover_image_url}}
      <a href='{{ .Prev.Permalink }}'><img src="{{ .Prev.Params.cover_image_url }}" class="img_suite"/></a>
    {{end}}
    <h5>
      <a href='{{ .Prev.Permalink }}'>{{.Prev.Title}}<br /><i class="fa fa-arrow-circle-o-left"></i></a>
    </h5>

    {{ with .Prev.Description }}<h6 class="subheader">{{ . }}</h6>{{ end }}


    <p class="post-meta article_precedent"><i class="fa fa-calendar"></i>&nbsp;{{ .Prev.Date.Format "02/01/2006" }} - <i class="fa fa-clock-o"></i>&nbsp;{{ .Prev.ReadingTime}} min  {{ if .Prev.Draft }}<span class="warning radius label">unpublished</span>{{ end }}</p>

  </article>
{{end}}

{{if .Next}}

  {{if .Prev}}
  <article class="post medium-6 small-12 columns article_suivant">
  {{else}}
  <article class="post small-12 columns article_suivant">
  {{end}}
      {{if .Next.Params.cover}}
      <a href='{{ .Next.Permalink }}'><img src="{{ .Next.Params.cover }}" class="img_suite"/></a>
    {{end}}
      {{if .Next.Params.cover_image_url}}
      <a href='{{ .Next.Permalink }}'><img src="{{ .Next.Params.cover_image_url }}" class="img_suite"/></a>
    {{end}}

    <h5>
    <a href='{{ .Next.Permalink }}'>{{.Next.Title}}<br /><i class="fa fa-arrow-circle-o-right"></i></a>
    </h5>

    {{ with .Next.Description }}<h6 class="subheader">{{ . }}</h6>{{ end }}

    <p class="post-meta article_suivant"><i class="fa fa-calendar"></i>&nbsp;{{ .Next.Date.Format "02/01/2006" }} - <i class="fa fa-clock-o"></i>&nbsp;{{ .Next.ReadingTime}} min {{ if .Next.Draft }}<span class="warning radius label">unpublished</span>{{ end }}</p>

  </article>
{{end}}
	
</div>
</div>

<span class="clearfix"></span>

